Repository jdno/auto-traffic-control, pull requests merged in 2022-08, with the labels that each got.

#173 java sdk and example
  .github/workflows/release-sdk.yml
  examples/java/.gitignore
  examples/java/README.md
  examples/java/api
  examples/java/build.gradle
  examples/java/sdk
  examples/java/settings.gradle
  examples/java/src/main/java/com/example/AtcExample.java
  sdk/java/.gitignore
  sdk/java/README.md
  sdk/java/api
  sdk/java/build.gradle
  sdk/java/example
  sdk/java/gradle.properties
  sdk/java/settings.gradle
Labels: C-feature-request

#181 Create issue labels for more programming languages
  .github/labels.yml
Labels: L-github

#183 Reorganize GitHub Actions
  .github/workflows/maintenance.yml
  .github/workflows/release-sdk.yml
  .github/workflows/test-docs.yml
  .github/workflows/test-json.yml
  .github/workflows/test-markdown.yml
  .github/workflows/test-protobuf.yml
  .github/workflows/test-rust.yml
  .github/workflows/test-sdk.yml
  .github/workflows/test-shell.yml
  .github/workflows/test-yaml.yml
Labels: L-github

#185 Fix build warnings with tonic and Rust 1.63.0+
  sdk/rust/src/lib.rs
Labels: R-fixed, L-rust

#187 Create Ruby SDK
  .github/workflows/release-sdk.yml
  .github/workflows/test-sdk.yml
  api/buf.gen.yaml
  examples/ruby/.gitignore
  examples/ruby/.rubocop.yml
  examples/ruby/Gemfile
  examples/ruby/LICENSE-APACHE
  examples/ruby/LICENSE-MIT
  examples/ruby/README.md
  examples/ruby/Rakefile
  examples/ruby/auto_traffic_control_example.gemspec
  examples/ruby/bin/console
  examples/ruby/bin/setup
  examples/ruby/exe/example.rb
  examples/ruby/lib/auto_traffic_control_example.rb
  examples/ruby/lib/auto_traffic_control_example/version.rb
  examples/ruby/sig/auto_traffic_control_example.rbs
  sdk/ruby/.gitignore
  sdk/ruby/.rubocop.yml
  sdk/ruby/Gemfile
  sdk/ruby/LICENSE-APACHE
  sdk/ruby/LICENSE-MIT
  sdk/ruby/README.md
  sdk/ruby/Rakefile
  sdk/ruby/atc.gemspec
  sdk/ruby/bin/console
  sdk/ruby/bin/setup
  sdk/ruby/lib/atc.rb
  sdk/ruby/lib/atc/version.rb
  sdk/ruby/sig/atc.rbs
Labels: C-feature-request, R-added, L-ruby
